{% if cart %}
<p>Your cart is :</p>
<form action="{% url 'shop:remove_item'%}" method="post">
{% csrf_token %}
{% for i in cart %}
    <input type="radio" name="remove" id="i{{ forloop.counter }}" value="{{i.id}}">
    <label for="i{{ forloop.counter }}">{{ i.model }}</label><br>
{% endfor %}
<input type="submit" value="Remove">
</form>
<p>And it cost {{cost}}₴</p>
    <form action="{% url 'shop:checkout'%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Checkout">
    </form>
{% else %}
<h>Sorry,your cart is empty!</h>
{% endif %}
<form action="{% url 'shop:main_page'%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Buy something else">
    </form>
You deleted{{new}}