<head><title>Cart</title></head>
{% if cart.cost > 0 %}
{% if removed_product %}
    <strong>You deleted {{removed_product}} from your cart</strong>
{% endif %}
    <h1>Here is your cart: </h1>
    <form action="{% url 'shop:check_cart' %}" method="post">
    {% csrf_token %}
    {% for i in items %}
        <input type="radio" name="item" id="i.id" value="{{i.id}}">
        <label for="i.id">{{i.brand}}--{{i.model}}</label><br>
    {% endfor %}
    <input type="submit" value="remove from cart">
    </form>
    <h3>And it cost {{cart.cost}}</h3>
        <form action="{% url 'shop:checkout'%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Checkout">
        </form>
    {% else %}
    <h1>Sorry,your cart is empty!</h1>
    {% endif %}
        <form action="{% url 'shop:main_page'%}" method="get">
        {% csrf_token %}
        <input type="submit" value="Buy something else">
        </form>