{% if products %}
    <ul>
    {% for product in products %}
        <head><title>{{product.category_id}}</title></head>
        <li><a href="{% url 'shop:product' product.category_id product.id %}">{{product.brand}} -- {{product.model}}--{{product.price}}₴</a></li>
    {% endfor %}
        {% for productt in cart %}
            Your cart : {{producttt.model}}
        {% endfor %}
{% else %}
    <p>Sorry,all products in this category are sold.</p>
{% endif %}
        <form action="{% url 'shop:main_page'%}" method="get">
        {% csrf_token %}
        <input type="submit" value="Back to main page">
        </form>