{% if product %}
<head><title>{{product.model}}</title></head>
<div align="middle">
    <h1 align="middle">Meet new product from {{product.brand}}</h1>
    <h2>This new {{product.model}} is available now!</h2>
    {% for image in photos %}
    <img src="{{ MEDIA_URL }} {{ image.image.url }}" width="auto" height="400px" >
    {% endfor %}
    {% if photos %}
    {% endif %}
    <h3>It cost only {{product.price}}₴</h3>
    {% if product.amount > 0 %}
    <h4>It's {{product.amount}} pcs left</h4>
    <form action="{% url 'shop:add_to_cart' product.category_id product.id %}" method="post">
    {% csrf_token %}
    <input size="200" type="submit" value="Add to cart">
    </form>
    {% else %}
        <p>Sorry,this item is sold.</p>
    {% endif %}
{% else %}
    <p>Sorry,this item is sold.</p>
</div>
{% endif %}
    <form action="{% url 'shop:main_page'%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Back to main page">
    </form>
